{% extends 'content-auth.html' %}
{% load static %}
{% block content %}

    <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Mis Cuentas</h2>
          </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-md-12">
                <div id="message"></div>
            </div>
        </div>

        <div class="row align-items-stretch" id="sectionPage">
          <div class="col-md-12 col-lg-12 mb-12 mb-lg-12" data-aos="fade-up">

            <div class="table-responsive">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Nro. de Cuenta</th>
                            <th scope="col">Nro. de Contrato</th>
                            <th scope="col">Tipo de Cuenta</th>
                            <th scope="col">Saldo</th>
                            <th scope="col">Moneda</th>
                            <th scope="col" style="width: 200px;"></th>
                        </tr>
                    </thead>
                    <tbody id="lista"></tbody>
                </table>
            </div>

          </div>
        </div>

      </div>
    </section>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'modules/mis-cuentas.js' %}"></script>

{% endblock content %}